<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>ServletTest01</servlet-name>
        <servlet-class>test01.ServletTest01</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletTest01</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletTest02</servlet-name>
        <servlet-class>test01.ServletTest02</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletTest02</servlet-name>
        <url-pattern>/servletTest02</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletTest03</servlet-name>
        <servlet-class>test01.ServletTest03</servlet-class>
    </servlet>

    <!--<servlet-mapping>
        <servlet-name>ServletTest03</servlet-name>
        <url-pattern>/servletTest03</url-pattern>
    </servlet-mapping>-->
    
    <!--<servlet-mapping>
        <servlet-name>ServletTest03</servlet-name>
        <url-pattern>/servletTest03/*</url-pattern>
    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>ServletTest03</servlet-name>
        <url-pattern>*.servletTest03</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletTest04</servlet-name>
        <servlet-class>test01.ServletTest04</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletTest04</servlet-name>
        <url-pattern>/servletTest04</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>test01.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
</web-app>
